{% extends 'base_generic.html' %}
{% block content %}
<div class="container-fluid mt-4">
  <h2 class="text-center mb-4">Список пользователей</h2>
  <div class="mb-3 text-end">
    <a href="{% url 'mass_mail' %}" class="btn btn-warning">Отправить всем</a>
  </div>
  <div class="card p-4" style="border-radius: 12px;">
    {% include 'users/_user_table.html' %}
<style>
  .text-warning-empty {
    color: #ffc107 !important;
    font-weight: bold;
  }
</style>
<script>
    function sortTable(column) {
        const urlParams = new URLSearchParams(window.location.search);
        const currentSortBy = urlParams.get('sort_by');
        const currentOrder = urlParams.get('order') || 'asc';
        let newOrder = 'asc';
        if (currentSortBy === column && currentOrder === 'asc') {
            newOrder = 'desc';
        }
        urlParams.set('sort_by', column);
        urlParams.set('order', newOrder);
        window.location.search = urlParams.toString();
    }
</script>
{% endblock %}