{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="object-tools">
            <li>
                <a href="import-users/" class="addlink">Импорт пользователей</a>
            </li>
            <li>
                <a href="export-users/" class="addlink">Экспорт пользователей</a>
            </li>
            <li>
                <a href="/users/mass_mail/" class="addlink" style="background:#FFD600; color:#222;">Отправить почту</a>
            </li>
        </ul>
    </div>
    {{ block.super }}
{% endblock %}
